{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h2>SELL</h2>
    <form action="/sell" method="post">
        <label for="cars">Choose a stock</label>
        <select name="symbol" id="symbol">
            <option disabled selected>Stocks</option>
            {% for symbol in symbols %}
            <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">SELL</button>
    </form>
{% endblock %}